<ActionBar title="Prayer Streaks"></ActionBar>

<GridLayout rows="*, auto" class="bg-transparent">
  <TabView
    rowSpan="2"
    (selectedIndexChange)="selectedIndexChange($event)"
    (loaded)="loadedTabs($event)"
    swipeEnabled="false"
    class="app-background"
    androidTabsPosition="bottom"
    tabTextFontSize="11"
    iosTabBarMinimizeBehavior="onScrollDown"
  >
    <!-- Tab 1 — Today -->
    <GridLayout
      *tabItem="{
        title: 'Today',
        textTransform: 'capitalize',
        iconSource: todayIcon
      }"
    >
      <ns-today></ns-today>
    </GridLayout>

    <!-- Tab 2 — History -->
    <GridLayout
      *tabItem="{
        title: 'History',
        textTransform: 'capitalize',
        iconSource: historyIcon
      }"
    >
      <ns-history></ns-history>
    </GridLayout>

    <!-- Tab 3 — Settings -->
    <GridLayout
      *tabItem="{
        title: 'Settings',
        textTransform: 'capitalize',
        iconSource: settingsIcon
      }"
    >
      <ns-settings></ns-settings>
    </GridLayout>
  </TabView>
</GridLayout>

